.Menu {
  $block: #{&};

  display: flex;
  flex-basis: 25rem;
  background-color: #1e90ff;

  #{$block}__nav {
    flex: 1;

    #{$block}__list {
      list-style: none;
      padding: 0;

      #{$block}__listItem {
        display: flex;

        #{$block}__link {
          flex: 1;
          text-decoration: none;
          padding: 1rem;
          color: #ffffff;
          margin-bottom: 1rem;
          font-size: 1.6rem;
          transition: background-color 0.5s ease-in-out;

          &:hover {
            background-color: #00000030;
          }
        }
      }
    }
  }
}
